<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--====== the responsive meta required from bootstrap to work ======-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMARTKID</title>

    <!--====== Icon ======-->
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon">

    <environment include="Development">
        <!--====== bootstrap css file ======-->
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <!--====== owl carousel css file ======-->
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.css">
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.default.css">
        <!--====== fontawsome style file ======-->
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
    </environment>

    <environment exclude="Development">
        <!--====== bootstrap css file ======-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!--====== owl carousel css file ======-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--====== fontawsome style file ======-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </environment>

    <!--====== custom style file ======-->
    <link rel="stylesheet" href="~/css/libs.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

</head>
<body>

    <!--============  START PART Background ============ -->

    <section style="width:100%;">
        <div class="bg-body" style="width:100%;">
            <div id="particles-js" style="width:100%;"></div>
        </div>
    </section>

    <!--============ Background PART END ============-->
    <!--============ Header PART START ============-->

    <header id="head">
        <section id="contact-info">
            <div class="container info">
                <div class="info-right">
                    <span class="text">Need help? Call Us Now :</span>
                    <a class="number" href="tel:+212600862539">6 00 86 25 39</a>
                </div>

                <div class="info-left">
                    <div class="our-story"><span><a href="#">Our Story</a></span></div>
                    <div class="insc"><span><a asp-action="Inscription" asp-controller="Account">Inscription</a></span></div>

                    @{
                        if (signInManager.IsSignedIn(User))
                        {
                            var user = await userManager.FindByEmailAsync(User.Identity.Name);
                            var FullName = user.UserName;
                            if (user.FirstName != null && user.LastName != null)
                            {
                                string GetName(string name)
                                {
                                    return $"{name[0].ToString().ToUpper()}{name.Substring(1).ToLower()}";
                                }

                                var FirstName = GetName(user.FirstName);
                                var LasttName = GetName(user.LastName);
                                FullName = $"{FirstName} {LasttName}";
                            }

                            <div class="account">
                                <div class="inner-container">
                                    <div class="inner-box">
                                        <div class="name">
                                            <span class="username">@FullName</span>
                                        </div>
                                        <div class="image">
                                            @if (user.PhotoPath == null)
                                            {
                                                <span class="bg cover">
                                                    <img src="/Images/user.jpg" alt="user" />
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="bg cover" style="background-image: url(@user.PhotoPath)">
                                                    <img src="@user.PhotoPath" alt="@FullName" />
                                                </span>
                                            }
                                        </div>
                                    </div>

                                    <div class="dropdown-items">
                                        <ul class="navbar-nav">
                                            <li>
                                                <a class=""
                                                   asp-route-id="@user.Id"
                                                   asp-action="EditAccount"
                                                   asp-controller="Account">Edit Account</a>
                                            </li>
                                            <li>
                                                <a class="" asp-action="" asp-controller="">Help</a>
                                            </li>
                                            <li class="nav-item" style="width:100%;">
                                                <form asp-action="Logout" asp-controller="Account" method="post">
                                                    <button type="submit" class="btn btn-outline-dark btn-info text-white" style="width:100%; border-radius:unset;">
                                                        Logout
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="account">
                                <a id="signin" class="btn signin" asp-action="SignIn" asp-controller="Account">SignIn</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>

        <section id="navbar" class="navbar">
            <div class="container main-menu">
                <div class="logo-icon">
                    <a asp-action="Index" asp-controller="Home">SMART<em>KID</em></a>
                </div>

                <nav class="main-menu navbar-expand-md navbar-light">
                    <ul class="navigation ">
                        <li class="dropdown"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="dropdown">
                            <a href="#about-us">About us</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#introduction">Our Introduction</a></li>
                                <li><a class="dropdown-item" href="#team">Our Team</a></li>
                                <li><a class="dropdown-item" href="#our-pictures">Pictures</a></li>
                                <li><a class="dropdown-item" href="#testimonials">They Say About Us</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/#our-programs">Our Programs</a></li>
                        <li class="dropdown"><a href="/#pricing">Pricing</a></li>
                        <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                    </ul>
                </nav>

                <div id="show-menu-icon">
                    <i class="fas fa-align-right"></i>
                </div>
                <!-- <div id="hide-menu-icon" class=""><i class="fas fa-times"></i></div> -->
                <div id="mobile-menu" class="invisible">
                    <div class="menu-container">
                        <div id="hide-menu-icon" class=""><i class="fas fa-times"></i></div>
                        <div class="logo-mobile-container">
                            <div class="logo-icon">
                                <a asp-action="Index" asp-controller="Home">SMART<em>KID</em></a>
                            </div>
                        </div>
                        <div class="navbar-container">
                            <ul class="navigation ">
                                <li class="dropdown">
                                    <div class="link">
                                        <a href="./">Home</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <div class="link">
                                        <a href="#about-us">About us</a>
                                        <div class="arrow"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                    <div class="item">
                                        <ul class="mobile-dropdown-menu">
                                            <li><a class="mobile-dropdown-item" href="#introduction">Our Introduction</a></li>
                                            <li><a class="mobile-dropdown-item" href="#team">Our Team</a></li>
                                            <li><a class="mobile-dropdown-item" href="#our-pictures">Pictures</a></li>
                                            <li><a class="mobile-dropdown-item" href="#testimonials">They Say About Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown"><div class="link"><a href="/#our-programs">Our Programs</a></div></li>
                                <li class="dropdown"><div class="link"><a href="/#pricing">Pricing</a></div></li>
                                <li><div class="link"><a asp-action="Inscription" asp-controller="Account">Inscription</a></div></li>
                                <li><div class="link"><a asp-action="Contact" asp-controller="Home">Contact</a></div></li>

                                <li id="social-links">
                                    <ul class="social-icons">
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-github-alt"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </header>

    <!--============ Header PART ENDS ============-->
    <!--============ Body PART START ============-->

    @RenderBody()

    <!--============ Body PART ENDS ============-->
    <!--============ Footer PART START ============-->

    <footer id="footer">
        <div class="container">

            <div class="row footer-content">
                <div class="col-12 col-md-6">
                    <div class="main-intro">
                        <div class="logo-icon">
                            <a asp-action="Index" asp-controller="Home">SMART<em>KID</em></a>
                        </div>
                        <div class="text">
                            <p>STARTKID is a very suit opportunity for your child to begin to understand that school is a place for learning and working. .</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="footer-address ">
                        <div class="footer-title">
                            <h3 class="title">Contact Us</h3>
                        </div>
                        <ul>
                            <li>
                                <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                                <div class="cont">
                                    <address>ISTA TINGHIR 517 District, Tinghir Ouarzazate Morocco</address>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-phone"></i></div>
                                <div class="cont">
                                    <a class="" href="tel:+212600862539">6 00 86 25 39</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="far fa-envelope"></i></div>
                                <div class="cont">
                                    <a href="mailto:ah.hennani@gmail.com">ah.hennani@gmail.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="far fa-clock"></i></div>
                                <div class="cont">
                                    <span>Monday - Sunday / 08.00AM - 19.00 (Except Holidays)</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="copyright col-md-12 text-center">
                    <div class="copyright-content">
                        <small class="block">All Rights Reserved. © 2021 SMARTKID.</small>
                        <small class="block">Coded by <a style="color: silver;" href="https://www.facebook.com/hnaniiiiii" target="_blank">AHMED HENNANI</a></small>
                    </div>
                    <div id="social-links">
                        <ul class="social-icons">
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-github-alt"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <!--============ Footer PART ENDS ============-->
    <!--============ BACK TO TP PART START ============-->
    <section id="back-to-top-container">
        <button class="back-to-top"><i class="fa fa-angle-up"></i></button>
    </section>
    <!--============ BACK TO TP PART ENDS ============-->

    <environment include="Development">
        <!--====== jquery js file ======-->
        <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
        <!--====== validation client side js files ======-->
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <!--====== popper js that is required to bootstrap tp funtion good ======-->
        <script type="text/javascript" src="~/lib/popper/umd/popper.js"></script>
        <!--====== bootstrap js file ======-->
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.js"></script>
        <!--====== particles js file ======-->
        <script type="text/javascript" src="~/lib/particles.js/particles.js"></script>
        <!--====== owl carousel js file ======-->
        <script type="text/javascript" src="~/lib/owl.carousel/owl.carousel.js"></script>
        <!--====== isotope js file ======-->
        <script type="text/javascript" src="~/lib/jquery.isotope/isotope.pkgd.js"></script>
    </environment>

    <environment exclude="Development">
        <!--====== jquery js file ======-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!--====== validation client side js files ======-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--====== popper js that is required to bootstrap tp funtion good ======-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--====== bootstrap js file ======-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!--====== particles js file ======-->
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <!--====== owl carousel js file ======-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--====== isotope js file ======-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </environment>

    <!--====== triggers of all js libraries files ======-->
    <script type="text/javascript" src="~/js/libs.js"></script>
    <!--====== Custom js file ======-->
    <script type="text/javascript" src="~/js/app.js"></script>
</body>
</html>